@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@700&family=Poppins:wght@500;600&family=Raleway:wght@700;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

// Pages

@import "./styles/about-fund";
@import "./styles/application";
@import "./styles/call-to-action";
@import "./styles/donation";
@import "./styles/employees";
@import "./styles/header";
@import "./styles/legal-entity";
@import "./styles/main";
@import "./styles/need-help";
@import "./styles/official-docs";
@import "./styles/our-mission";
@import "./styles/reports";
@import "./styles/sidebar";
@import "./styles/vars";
@import "./styles/volunteering";