*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

// Pages

@import "./styles/main";
@import "./styles/employees";
@import "./styles/about-fund";
@import "./styles/our-mission";
@import "./styles/need-help";
@import "./styles/application";
@import "./styles/call-to-action";
@import "./styles/sidebar";
@import "./styles/header";
@import "./styles/vars";

