*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

// Pages
@import "./styles/about-fund";
@import "./styles/our-mission";
@import "./styles/header";

