@import './vars';

// BALLON ELEMENTS
.application-element-ballon-red__img {
    width: 183.31px;
    position: absolute;
    top: 115.4%;
    left: 65.3%;
    z-index: -1;
}

.application-element-ballon-yellow__img {
    width: 172px;
    position: absolute;
    top: 100.5%;
    left: 81.5%;
    z-index: -1;
}

// END BALLON ELEMENTS

// YOU NEED HELP
.you-need-help {

    &__inner {

        &__title {
            @include title;
            margin-bottom: 33px;
        }

        &__all-texts-block {

            &__prg {
                font-family: $ff-rubik;
                font-style: normal;
                font-weight: $fw-regular;
                font-size: 18px;

                color: $color-black;
                line-height: 28px;
            }

            &__prg+&__prg {
                margin-top: 17px;
            }
        }
    }
}

// END YOU NEED HELP

// FORM SECTION
.form-section {
    background-color: $color-blue;
    margin-top: 80px;
    margin-bottom: 90px;
    position: relative;
    z-index: -1;

    &__inner {
        padding: 35px 0 112px 0;

        &__form {

            &__block {
                background-color: $color-white;
                padding: 16px 41px 26px 38px;

                border-radius: 15px;
                box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);

                &:first-child {
                    margin-bottom: 24px;
                }
            }

            &__block+&__block {
                margin-bottom: 40px;

                &:nth-child(8) {
                    margin-bottom: 78px;
                }
            }

            &__label {
                font-family: $ff-roboto;
                font-style: normal;
                font-weight: $fw-bold;
                font-size: 18px;

                color: $color-black;
                display: inline-block;
                margin-bottom: 12.5px;
            }

            &__input {
                width: 100%;
                height: 51px;

                border-radius: 8px;
                outline: none;
                border: 1px solid #686868;

                font-family: $ff-roboto;
                font-style: normal;
                font-weight: $fw-regular;
                font-size: 18px;

                padding: 0 15px;

                &-textarea {
                    width: 100%;
                    height: 160px;

                    border-radius: 8px;
                    outline: none;
                    border: 1px solid #686868;

                    font-family: $ff-rubik;
                    font-style: normal;
                    font-weight: $fw-regular;
                    font-size: 18px;

                    padding: 15px;
                    resize: none;

                    &::-webkit-scrollbar {
                        width: 10px;
                        border-radius: 5px;
                        background-color: #747474;
                        padding: 0 5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: rgb(199, 199, 199);
                        border-radius: 5px;
                    }
                }

                &::placeholder {
                    font-style: italic;
                }
            }

            &__checkbox-block {
                display: flex;
                align-items: center;
            }

            &__checkbox-block+&__checkbox-block {
                margin-top: 10px;
            }

            &__label-checkbox {
                font-family: $ff-roboto;
                font-style: normal;
                font-weight: $fw-regular;
                font-size: 16px;

                color: $color-black;
                user-select: none;
            }

            &__input-checkbox {
                margin-right: 8px;
                width: 20px;
                height: 20px;
            }

            &__btn {
                font-family: $ff-raleway;
                font-style: normal;
                font-weight: $fw-extraBold;
                font-size: 16px;

                text-transform: uppercase;
                cursor: pointer;
                border-radius: 5px;

                color: $color-white;
                background-color: $color-violet;

                border: 0;
                padding: 9px 51px;
                float: right;
                letter-spacing: 1.5px;
            }
        }
    }
}

// END FORM SECTION

// MEDIA 1000PX ------------------------------------
@media screen and (max-width: 1000.98px) {

    .application-element-ballon-red__img {
        width: 151.59px;
        position: absolute;
        top: 96%;
        left: 60%;
        z-index: -1;
    }

    .application-element-ballon-yellow__img {
        width: 142.4px;
        position: absolute;
        top: 86%;
        left: 80%;
        z-index: -1;
    }

    .you-need-help {

        &__inner {

            &__all-texts-block {

                &__prg {
                    text-align: justify;
                    line-height: 30px;
                }
            }
        }
    }

    .form-section {
        background-color: $color-white;

        &__inner {
            padding: 0 35px 70px 35px;
        }
    }
}

// END MEDIA 1000PX ------------------------------

// MEDIA 768PX ------------------------------------
@media screen and (max-width: 768.98px) {

    .application-element-ballon-red__img {
        width: 84.82px;
        position: absolute;
        top: 96%;
        left: 70%;
        z-index: -1;
    }

    .application-element-ballon-yellow__img {
        width: 79.68px;
        position: absolute;
        top: 89%;
        left: 85%;
        z-index: -1;
    }

    .you-need-help {

        &__inner {

            &__title {
                font-size: 36px;
                margin-bottom: 20px;
            }

            &__all-texts-block {

                &__prg {
                    font-size: 18px;
                }

                &__prg+&__prg {
                    margin-top: 5px;
                }
            }
        }
    }

    .form-section {
        background-color: $color-blue;
        margin-top: 30px;

        &__inner {
            padding: 30px 53px 63px 53px;

            &__form {

                &__block+&__block {

                    &:nth-child(8) {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

// END MEDIA 768PX ------------------------------

// MEDIA 480PX ------------------------------------
@media screen and (max-width: 480.98px) {

    .application-element-ballon-red__img {
        width: 66.55px;
        position: absolute;
        top: 120%;
        left: 58%;
        z-index: -1;
    }

    .application-element-ballon-yellow__img {
        width: 61.51px;
        position: absolute;
        top: 116%;
        left: 77%;
        z-index: -1;
    }

    .you-need-help {

        &__inner {

            &__title {
                font-size: 26px;
            }

            &__all-texts-block {

                &__prg {
                    font-size: 16px;
                    line-height: 24px;
                }

                &__prg+&__prg {
                    margin-top: 0px;
                }
            }
        }
    }

    .form-section {
        background-color: $color-blue;
        margin-top: 20px;

        &__inner {
            padding: 20px 34px 59px 34px;

            &__form {

                &__block {
                    padding-left: 13px;
                    padding-right: 13px;
                }

                &__block+&__block {

                    &:nth-child(8) {
                        margin-bottom: 25px;
                    }
                }

                &__label {
                    font-size: 16px;
                }

                &__label-checkbox {
                    font-size: 14px;
                }
            }
        }
    }
}

// END MEDIA 480PX ------------------------------