@import './vars';

// BREADCRUMBS
.breadcrumbs-application {
    padding: 24px 0 40px 0;

    &__item {
        font-family: $ff-rubik;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $color-dark-grey;
    }

    &__item-link {
        text-decoration: none;
        cursor: pointer;
    }

    &__item-currant {
        font-weight: $fw-medium;
    }
}

// END BREADCRUMBS

// YOU NEED HELP
.you-need-help {

    &__inner {

        &__title {
            @include title;
            margin-bottom: 33px;
        }

        &__all-texts-block {

            &__prg {
                font-family: $ff-rubik;
                font-style: normal;
                font-weight: $fw-regular;
                font-size: 18px;

                color: $color-black;
                line-height: 28px;
            }

            &__prg+&__prg {
                margin-top: 32px;
            }
        }
    }
}

// END YOU NEED HELP

// FORM SECTION
.form-section {
    background-color: $color-blue;
    margin-top: 80px;
    margin-bottom: 90px;

    &__inner {
        padding: 35px 0 75px 0;

        &__form {

            &__block {
                background-color: $color-white;
                padding: 16px 41px 16px 38px;

                border-radius: 15px;
                box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);

                &:first-child {
                    margin-bottom: 24px;
                }
            }

            &__block+&__block {
                margin-bottom: 40px;

                &:nth-child(8) {
                    margin-bottom: 78px;
                }
            }

            &__label {
                font-family: $ff-roboto;
                font-style: normal;
                font-weight: $fw-bold;
                font-size: 18px;

                color: $color-black;
                display: inline-block;
                margin-bottom: 6px;
            }

            &__input {
                width: 100%;
                height: 51px;

                border-radius: 8px;
                outline: none;
                border: 1px solid #686868;

                font-family: $ff-roboto;
                font-style: normal;
                font-weight: $fw-regular;
                font-size: 18px;

                padding: 0 15px;

                &-textarea {
                    width: 100%;
                    height: 166px;

                    border-radius: 8px;
                    outline: none;
                    border: 1px solid #686868;

                    font-family: $ff-rubik;
                    font-style: normal;
                    font-weight: $fw-regular;
                    font-size: 18px;

                    padding: 15px;
                    resize: none;

                    &::-webkit-scrollbar {
                        width: 10px;
                        border-radius: 5px;
                        background-color: #747474;
                        padding: 0 5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: rgb(199, 199, 199);
                        border-radius: 5px;
                    }
                }

                &::placeholder {
                    font-style: italic;
                }
            }

            &__checkbox-block {
                display: flex;
                align-items: center;
            }

            &__checkbox-block+&__checkbox-block {
                margin-top: 10px;
            }

            &__label-checkbox {
                font-family: $ff-roboto;
                font-style: normal;
                font-weight: $fw-regular;
                font-size: 16px;

                color: $color-black;
                user-select: none;
            }

            &__input-checkbox {
                margin-right: 8px;
                width: 20px;
                height: 20px;
            }

            &__btn {
                font-family: $ff-raleway;
                font-style: normal;
                font-weight: $fw-extraBold;
                font-size: 16px;

                text-transform: uppercase;
                cursor: pointer;
                border-radius: 5px;

                color: $color-white;
                background-color: $color-violet;

                border: 0;
                padding: 10px 50px;
                float: right;
            }
        }
    }
}

// END FORM SECTION