@import "./vars";


  .elements-img {
    position: absolute;
    z-index: -1;
    left: 86.7%;
    top: 172px;
    
  }
  


  .donate {
    margin-bottom: 40px;
    &__title {
      @include subtitle;
      text-align: center;
      line-height: 42px;
      margin-top: 14px;
      
    }
    #title-mobile {
      display: none;
    }
  }

  .blc-bank {
      margin-bottom: 90px;
     

      &__block{
          max-width: 100%;
         
      }

      &__wrapper {
        display: flex;
        column-gap: 20px;
      }
      &__card {
        width: 43%;
        box-shadow: 6px 6px 6px $color-box;
        border-radius: 15px;
        padding: 0px 37px 39px 0;
        &__main-title {
            @include litletext;
        }
        .bitushum {
            margin-left: 184px;
            margin-top: -52px;
        }
        .kicb {
            margin-left: 178px;
            margin-top: -64px;
            line-height: 17px;
            letter-spacing: -1px;
        }
        .optima {
            margin-left: 192px;
            margin-top: -43px;
            letter-spacing: -1px;
            
        }
        &__img-cardone {
            margin-top: 31px;
            margin-left: 21px;
        }
        &__img-cardtwo {
            margin-top: 22px;
            margin-left: 13px;
        }

        &__img-cardtree {
            margin-top: 31px;
            margin-left: 24px;
            // background-image: url(../assets/donate/Rectangle.png);
        }
        &__content {
          padding: 67px 0px 0px 18px;
        }
        .calculation {
            margin-bottom: 29px;
        }
        &__text, &__text-inside, &__text-inside2 {
            @include litletext; 
            line-height: 28px; 
        }

        .text-kicb {
            margin-top: -6px;
        }

        .text-kicbtwo {
            margin-top: 28px;
        }


      }

      .bank-card-one {
        background-color: $color-blue;
      }
      .bank-card-two {
        background-color: $color-lh-blue;  
      }
      .bank-card-tree {
          background-color: $color-pink;
      }
  }

  .blc-rectangle {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 381px;
    background-color: $color-yellow-light;
    box-shadow: 6px 6px 6px $color-box;
    border-radius: 15px;
    padding-bottom: 90px;
    margin-bottom: 117px;
    .main-blc {
      margin-left: 35.8%;
        padding-top: 83px;
        padding-bottom: 41px;
        &__img {   
        margin-top: 3px;

        } 
        &__main-title {
            @include texts;
            font-weight: $fw-bold;
            margin-left: 60px;
            margin-top: -34px;
        } 
    }

    .card-purse {
        display: flex;
        column-gap: 20px;
        justify-content: center;
        
        .title-mobile {
            display: none;
        } 
        &__elc-purse {
            width: 190px;
            height: 177px;
            background-color: $color-lh-blue;
            border-radius: 5px;
            box-shadow: 0px 4px 4px $color-box;
            &__img {
            margin-left: 66px;
            margin-top: 18px;
          }  
          &__title {
            @include litletext;
            font-weight: $fw-bold;
            line-height: 28px;
            margin-left: 37px;
            margin-top: 43px;
            

          }
        } 
    }
  }
  

  @media (max-width: 1000px) {
    .elements-img {
        display: none;}

    .donate {
        margin-bottom: 40px;
        &__title {
            font-size: 30px;
            margin-top: -2px;
            margin-left: 2px;
            letter-spacing: 1.3px;
            margin-bottom: -11px;

            }
            #title-mobile {
              display: none;
            }
          }

        .blc-bank {
          width: 100%;
            // height: 327px;
            margin: 0 auto;
      
            &__block{
              margin-left: 0;
            }
      
            &__wrapper {
              column-gap: 30px;
            }
            &__card {
              padding: 1px 0px 24px 1px;
              width: 31%;
              &__main-title {
                  display: none;
              }
              
              &__img-cardone {
                  content: url("../assets/donate/bank_logotwo.png");
                  margin-top: 20px;
                  margin-left: 15px;
                  margin-bottom: -12px;
              }
              &__img-cardtwo {
                content: url("../assets/donate/bank_logotree.png");
                  margin-top: 20px;
                  margin-left: 15px;
              }
      
              &__img-cardtree {
                content: url("../assets/donate/bank_logofor.png");
                  margin-top: 26px;
                  margin-left: 15px;
                  margin-bottom: 4px;
                  // background-image: url(../assets/donate/Rectangle.png);
              }
              &__content {
                width: 90%;
                padding: 0px 0px 0px 18px;
              }
              .calculation {
                margin-bottom: -10px;
              }
              
               .text-kicb {
                margin-top: 29px;
            }
            .text-kicbtwo {
              margin-top: 38px;
            }
            }
        }

        .blc-rectangle {
            width: 100%;
            height: 300px;
            margin-top: 30px;
            margin-bottom: 117px;

            
            .main-blc {
              margin-left: 313px;
              padding-top: 40px;
              margin-bottom: -1px;
                &__img {   
                display: none;
        
                } 
                &__main-title {
                    font-size: 26px;
                    font-weight: $fw-bold;
                    margin-left: 15px;
                    margin-top: -5px;
                    margin-bottom: -5px;
                
                } 
            }
        
            .card-purse {
                column-gap: 30px;
                
                .title-mobile {
                    display: none;
                } 
                &__elc-purse {
                    width: 146px;
                    height: 136px;
                    &__img {
                    width: 44.51px;
                    height: 37.83px;
                    margin-left: 51px;
                    margin-top: 25px;
                  }  
                  &__title {
                    font-size: 14px;
                    margin-left: 26px;
                    margin-top: 16px;
                    letter-spacing: 0.7px;
                  }

                  .img1000 {
                    width: 47px;
                    height: 38px;
                  }

                  .img1001 {
                    content: url("../assets/donate/megaPay-icon-one.png");
                    width: 36px;
                    height: 39px;
                  }
                } 
            }
          }
  }


  @media (max-width: 768px)  {
  .elements-img {
      display: none;}

  .donate {
    margin-bottom: 20px;
      &__title {
        font-size: 30px;
        text-align: left;
         width: 431px;
        line-height: 32px;
        letter-spacing: 1.3px;
        margin-top: -2px;
        margin-left: 3px;
        margin-bottom: -1px;
          }
          #title-mobile {
            display: none;
          }
        }

      .blc-bank {
        width: 100%;
          margin: 0 auto;
          padding-bottom: 22px;
    
          
          &__wrapper {
            column-gap: 15px;
          }
          &__card {
            width: 100%;
            padding: 0px 0px 8px 0px;
            &__main-title {
                display: none;
            }
            
            &__img-cardone {
                content: url("../assets/donate/bank_logotwo.png");
                margin-left: 21px;
                max-width: 100%;
                margin-bottom: 1px;
            }
            &__img-cardtwo {
              content: url("../assets/donate/bank_logotree.png");
              // padding: 20px 18px;
              max-width: 100%;
            }
    
            &__img-cardtree {
              content: url("../assets/donate/bank_logofor.png");
              margin-bottom: 11px;
              max-width: 100%;
                // background-image: url(../assets/donate/Rectangle.png);
            }
            &__content {
              width: 90%;
              padding: 0 0 0 16px;
            }
            .calculation {
              margin-bottom: -10px;
            }
            .text-optima {
              margin-top: 34px;
              margin-left: 0;
            }
            .text-optimatwo {
              margin-top: 38px;
              margin-left: 0;
            }
            .text-kicb {
              margin-top: 18px;
            }
          
    
          }
      }

      .blc-rectangle {
        width: 100%;
        margin-left: 0px;
        margin-top: 8px;
        margin-bottom: -91px;
    
          
          .main-blc {
            margin-left: 213px;
            padding-top: 25px;
            margin-bottom: -6px;
              &__img {   
              display: none;
      
              } 
              &__main-title {
                font-size: 24px;
                line-height: 26px;
              } 
          }
      
          .card-purse {
              column-gap: 10px;
              margin-left: 5px;
              
              .title-mobile {
                  display: none;
              } 

              
              &__elc-purse {
                width: 134px;
                height: 120px;
                  &__img {
                    width: 44px;
                    height: 38px;
                  margin-left: 45px;
                  margin-top: 25px;
                }  
                &__title {
                  font-weight: 600;
                  font-size: 11px;
                  margin-left: 32px;
                  letter-spacing: 0.2px;
                }

                .img1000 {
                  content: url("../assets/donate/balcnceKG-icon.png");
                  width: 44px;
                  height: 38px;
                }

                .img1001 {
                  content: url("../assets/donate/balcnceKG-icon.png");
                  width: 44px;
                  height: 38px;
                }

              } 
          }
        }
  }

  @media (max-width: 698px)  {
    .breadcrumbs {
      display: none;
    }
  .elements-img {
      display: none;}

  .donate {
    margin-bottom: 19px;
      &__title {
        display: none;
          }
          #title-mobile {
            display: block;
            @include texts;
            font-size: 26px;
            font-weight: $fw-bold;
            padding-top: 20px;
            
          } 
        }

      .blc-bank {
          width: 100%;
          // height: 327px;
          margin: 0 auto;
    
          
    
          &__wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
          }
          &__card {
            @include litletext;
              font-size: 16px;
              line-height: 30px;
              padding: 25px 65px;
              width: 100%;
            &__main-title {
                display: none;
            }
            
            &__img-cardone {
                content: url("../assets/donate/bank_logotwo.png");
                width: 170px;
                height: 46px;
                margin-bottom: 4px;
                margin-left: 15px;
            }
            &__img-cardtwo {
              content: url("../assets/donate/bank_logotree.png");
              width: 154.81px;
              height: 64px;
            }
    
            &__img-cardtree {
              content: url("../assets/donate/bank_logofor.png");
              width: 196px;
              height: 37px;
                // background-image: url(../assets/donate/Rectangle.png);
            }
            &__content {
              width: 90%;
              padding: 0 0px 0 18px;

        
            }
            
            .text-optima {
              margin-left: 0;
              margin-top: 15px;
            }
            .text-optimatwo {
              margin-left: 0;
              margin-top: 23px;
            }
           .text-kicbtwo {
              margin-top: 34px;
          }
            &__text-inside {
              margin-left: 199px;
              margin-top: -27px;
            }

            .text-baitushum {
              margin-top: 37px;
            }

            .text-kicb {
              margin-top: -6px;
            }
    
          }
      }

      .blc-rectangle {
        width: 100%;
        background-color: $color-white;
        box-shadow:none;
        margin-bottom: 160px;
    
          
          .main-blc {
            margin-left: 25%;
            padding-top: 25px;
            margin-bottom: 34px;
              &__img {   
              display: none;
      
              } 
              &__main-title {
                font-size: 24px;
                line-height: 26px;
              } 
          }
      
          .card-purse {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 24px;
            
              
              .title-mobile {
                  display: none;
              } 

              
              &__elc-purse {
                width: 134px;
                height: 120px;
                  &__img {
                    width: 44px;
                    height: 38px;
                  margin-left: 45px;
                  margin-top: 25px;
                }  
                &__title {
                  font-weight: 600;
                  font-size: 11px;
                  margin-left: 32px;
                  letter-spacing: 0.2px;
                }

                .img1000 {
                  content: url("../assets/donate/balcnceKG-icon.png");
                  width: 44px;
                  height: 38px;
                }

                .img1001 {
                  content: url("../assets/donate/balcnceKG-icon.png");
                  width: 44px;
                  height: 38px;
                }

              } 
          }
        }
  }

  @media (max-width: 510px)  {
    .breadcrumbs {
      display: none;
    }
  .elements-img {
      display: none;}

  .donate {
    margin-bottom: 19px;
      &__title {
        display: none;
          }
          #title-mobile {
            display: block;
            @include texts;
            font-size: 26px;
            font-weight: $fw-bold;
            padding-top: 20px;
            
          } 
        }

      .blc-bank {
          width: 100%;
          // height: 327px;
          margin: 0 auto;
    
          
    
          &__wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
          }
          &__card {
            @include litletext;
              font-size: 16px;
              line-height: 30px;
              padding: 25px 65px;
              width: 100%;
            &__main-title {
                display: none;
            }
            
            &__img-cardone {
                content: url("../assets/donate/bank_logotwo.png");
                width: 170px;
                height: 46px;
                margin-bottom: 4px;
            }
            &__img-cardtwo {
              content: url("../assets/donate/bank_logotree.png");
              width: 154.81px;
              height: 64px;
            }
    
            &__img-cardtree {
              content: url("../assets/donate/bank_logofor.png");
              width: 196px;
              height: 37px;
                // background-image: url(../assets/donate/Rectangle.png);
            }
            &__content {
              width: 90%;
              padding: 0 0px 0 18px;

        
            }
            .text-optima {
              margin-left: 0;
              margin-top: 15px;
            }
            .text-optimatwo {
              margin-left: 0;
              margin-top: 23px;
            }
           .text-kicbtwo {
              margin-top: 34px;
          }
            &__text-inside {
              margin-left: 199px;
              margin-top: -27px;
            }

            .text-baitushum {
              margin-top: 37px;
            }

            .text-kicb {
              margin-top: -6px;
            }
    
          }
      }

      .blc-rectangle {
        width: 100%;
        background-color: $color-white;
        box-shadow:none;
    
          
          .main-blc {
            padding-top: 25px;
            margin-bottom: 34px;
            margin-left: 15%;
              &__img {   
              display: none;
      
              } 
              &__main-title {
                font-size: 24px;
                line-height: 26px;
              } 
          }
      
          .card-purse {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 10px;
            
              
              .title-mobile {
                  display: none;
              } 

              
              &__elc-purse {
                width: 134px;
                height: 120px;
                  &__img {
                    width: 44px;
                    height: 38px;
                  margin-left: 45px;
                  margin-top: 25px;
                }  
                &__title {
                  font-weight: 600;
                  font-size: 11px;
                  margin-left: 32px;
                  letter-spacing: 0.2px;
                }

                .img1000 {
                  content: url("../assets/donate/balcnceKG-icon.png");
                  width: 44px;
                  height: 38px;
                }

                .img1001 {
                  content: url("../assets/donate/balcnceKG-icon.png");
                  width: 44px;
                  height: 38px;
                }

              } 
          }
        }
  }



  @media (max-width: 480px)  {
    .breadcrumbs {
      display: none;
    }
  .elements-img {
      display: none;}

  .donate {
    margin-bottom: 19px;
      &__title {
        display: none;
          }
          #title-mobile {
            display: block;
            @include texts;
            font-size: 26px;
            font-weight: $fw-bold;
            padding-top: 20px;
            
          } 
        }

      .blc-bank {
          width: 100%;
          // height: 327px;
          margin: 0 auto;
    
          // &__block{
            
          // }
          &__block {
            margin-bottom: -22px;
          }
          &__wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
          }
          &__card {
            @include litletext;
              font-size: 16px;
              line-height: 30px;
              padding: 4px 0 24px 50px;
              width: 100%;
            &__main-title {
                display: none;
            }
            
            &__img-cardone {
                content: url("../assets/donate/bank_logotwo.png");
                width: 170px;
                height: 46px;
                margin-bottom: 4px;
            }
            &__img-cardtwo {
              content: url("../assets/donate/bank_logotree.png");
              width: 154.81px;
              height: 64px;
              margin-bottom: -7px;
            }
    
            &__img-cardtree {
              content: url("../assets/donate/bank_logofor.png");
              width: 196px;
              height: 37px;
              margin-top: 15px;
              margin-bottom: 4px;
                // background-image: url(../assets/donate/Rectangle.png);
            }
            &__content {
              width: 90%;
              padding: 19px 0px 0 14px;

            }
            
           .text-kicbtwo {
            margin-top: 13px;
          }
            &__text-inside {
              padding-left: 0px;
            margin-top: -27px;
            }

            .text-baitushum {
              margin-top: 37px;
            }

            .text-kicb {
              margin-top: -6px;
            }
    
          }
      }

      .blc-rectangle {
        width: 100%;
        height: 321px;
        background-color: $color-white;
        box-shadow:none;
        margin-bottom: 150px;
          
          .main-blc {
            padding-top: 24px;
            margin-bottom: 25px;
            margin-left: 19.4%;
              &__img {   
              display: none;
      
              } 
              &__main-title {
                width: 100%;
                height: 30px;
                font-size: 26px;
                line-height: 26px;
                margin-left: -15px;
                margin-top: 8px;
                
              } 
          }
      
          .card-purse {
          display: flex;
          flex-wrap: wrap;
          column-gap: 24px;
          row-gap: 1px;
          width: 450px;
          height: 286px;
          margin-left: 0px;
         margin-top: -37px;
              
              .title-mobile {
                  display: block;
                  font-family: $ff-rubik;
                  font-style: normal;
                  font-weight: $fw-regular;
                  font-size: 10px;
                  line-height: 15px;
                  text-align: center;
                  margin-top: -3px;
              } 
              &__elc-purse {
                width: 134px;
                height: 121px;
                  &__img {
                    width: 44.51px;
                    height: 37.83px;
                  margin-left: 44px;
                  margin-top: 25px;
                }  
                &__title {
                  font-weight: 600;
                  font-size: 11px;
                  margin-left: 33px;
                  margin-top: 4px;
                  
      
                }

                .balanc-img {
                  content: url("../assets/donate/balcnceKG-icon.png");
                }

                .m-bank {
                  content: url("../assets/donate/M-bank-icon.png");
                }

                .o-dengi {
                  content: url("../assets/donate/O-dengi-icon.png"); 
                }

                .img1000 {
                  content: url("../assets/donate/M-bank-icon.png");
                  width: 44px;
                  height: 38px;
                }

                .img1001 {
                  content: url("../assets/donate/O-dengi-icon480.png");
                  width: 44px;
                  height: 38px;
                }

              } 
          }
        }
  }


  @media (max-width: 469px)  {
    .breadcrumbs-donation {
      display: none;
    }
  .elements-img {
      display: none;}

  .donate {
    margin-bottom: 25px;
      &__title {
        display: none;
          }
          #title-mobile {
            display: block;
            @include texts;
            font-size: 24px;
            font-weight: $fw-bold;
            padding-top: 20px;
            
          } 
        }

      .blc-bank {
          width: 100%;
          // height: 327px;
          margin: 0 auto;
    
          // &__block{
            
          // }
          &__block {
            margin-bottom: -22px;
          }
          &__wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
          }
          &__card {
            @include litletext;
              font-size: 16px;
              line-height: 30px;
              padding: 4px 0 24px 15px;
              width: 100%;
            &__main-title {
                display: none;
            }
            
            &__img-cardone {
                content: url("../assets/donate/bank_logotwo.png");
                width: 170px;
                height: 46px;
                margin-bottom: 4px;
            }
            &__img-cardtwo {
              content: url("../assets/donate/bank_logotree.png");
              width: 154.81px;
              height: 64px;
              margin-bottom: -7px;
            }
    
            &__img-cardtree {
              content: url("../assets/donate/bank_logofor.png");
              width: 196px;
              height: 37px;
              margin-top: 15px;
              margin-bottom: 4px;
                // background-image: url(../assets/donate/Rectangle.png);
            }
            &__content {
              width: 90%;
              padding: 19px 0px 0 14px;

            }
            
           .text-kicbtwo {
            margin-top: 13px;
          }
            &__text-inside {
              margin-left: 0px;
              margin-top: 0px;
            }

            .text-baitushum {
              margin-top: 37px;
            }

            .text-kicb {
              margin-top: -6px;
            }
    
          }
      }

      .blc-rectangle {
        width: 100%;
        height: 321px;
        background-color: $color-white;
        box-shadow:none;
        margin-bottom: 290px;
          
          .main-blc {
            padding-top: 24px;
            margin-bottom: 25px;
            margin-left: 10%;
              &__img {   
              display: none;
      
              } 
              &__main-title {
                width: 100%;
                height: 30px;
                font-size: 24px;
                line-height: 26px;
                margin-left: -15px;
                margin-top: 8px;
                
              } 
          }
      
          .card-purse {
          display: flex;
          flex-wrap: wrap;
          column-gap: 20px;
          row-gap: 20px;
          width: 350px;
          margin-left: -10px;
         margin-top: -37px;
              
              .title-mobile {
                  display: block;
                  font-family: $ff-rubik;
                  font-style: normal;
                  font-weight: $fw-regular;
                  font-size: 10px;
                  line-height: 15px;
                  text-align: center;
                  margin-top: -3px;
              } 
              &__elc-purse {
                width: 134px;
                height: 121px;
                  &__img {
                    width: 44.51px;
                    height: 37.83px;
                  margin-left: 44px;
                  margin-top: 25px;
                }  
                &__title {
                  font-weight: 600;
                  font-size: 11px;
                  margin-left: 33px;
                  margin-top: 4px;
                  
      
                }

                .balanc-img {
                  content: url("../assets/donate/balcnceKG-icon.png");
                }

                .m-bank {
                  content: url("../assets/donate/M-bank-icon.png");
                }

                .o-dengi {
                  content: url("../assets/donate/O-dengi-icon.png"); 
                }

                .img1000 {
                  content: url("../assets/donate/M-bank-icon.png");
                  width: 44px;
                  height: 38px;
                }

                .img1001 {
                  content: url("../assets/donate/O-dengi-icon480.png");
                  width: 44px;
                  height: 38px;
                }

              } 
          }
        }
  }
  