@import "./vars";

.footer {
    background-color: $color-violet;
    margin-top: 90px;
    position: relative;
    justify-content: center;

    z-index: -3;

    &::after {
        content: '';
        width: 93%;
        height: 10%;
        background-image: url("/assets/main/beforefooter.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 55px;
        top: calc(51% - 16.8rem);
    }


    &__logo img {
        width: 255px;
        height: 90px;
        margin-bottom: 14px;
    }

    &__social {
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__social-item+&__social-item {
        margin-left: 20.5px;
    }

    &__social-item-facebook {
        margin-left: 10.5px !important;
    }

    &__text {
        font-family: $ff-rubik;
        font-style: normal;
        font-weight: $fw-medium;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: $color-white;
        margin-bottom: 40px;
    }

    &__social-title {
        font-family: $ff-roboto;
        font-style: normal;
        font-weight: $fw-medium;
        font-size: 16px;
        line-height: 19px;
        color: $color-white;
        margin-bottom: 9px;
    }

    &__btn {
        display: none;
    }


}



.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 65px 0;
    transform: translateY(-30px);

    &-rightside {
        display: flex;
        transform: translateX(-17px);
    }


}

.footer {
    &__rightside-title {
        font-family: $ff-rubik;
        font-style: normal;
        font-weight: $fw-bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: $color-white;
        padding-top: 27px;
        margin-bottom: 35px;
    }

    &__rightside-list {
        list-style: none;
        padding-left: 0;
        transform: translateY(-11px);
    }

    &__rightside-item {
        padding-left: 0;
        font-family: $ff-rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $color-white;
        padding-left: 0;
    }

    &__rightside-link {
        text-decoration: none;
        font-family: $ff-rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $color-white;
        padding-left: 0;
    }

    &__rightside-requisite {
        font-family: $ff-rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $color-white;
    }

}

.requisites__item {
    margin-bottom: 5px;
    line-height: 15px;
}

.contacts {
    margin-left: 86px;
    margin-right: -9px;
}

.info {
    margin-left: 25px;
}

.info-item {
    margin-bottom: 7px;
}

.contact-info {
    margin-bottom: 10px;

    transform: translateY(-15px);
}

.contact-phone a {
    display: flex;
}

.footer-geo,
.footer-gmail,
.footer-phone {
    margin-right: 13px;
    margin-top: 5px;
}

.footer-phone {
    margin-left: -5px;
}

.phone-number {
    margin-top: -1px;
    margin-left: -1px;
}

.footer-gmail {
    position: relative;
    top: 8px;
    left: 4px;
    margin-top: -7px;
    margin-left: -7px;
}


@media (max-width: 1000px) {
    .contacts {
        max-width: 1000px;
        margin: 0 auto;
        transform: translateX(-33px);
    }

    .footer {
        transform: translateY(-13px);


        .footer__inner {
            margin-top: 5px;

        }


        &::after {
            content: '';
            width: 93%;
            height: 10%;
            background-image: url("/assets/main/beforefooter.svg");
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 53px;
            top: calc(69% - 17.5rem);
        }

        &__logo img {
            width: 177px;
            height: 65px;
            margin-top: -20px;
            margin-left: 45px;
        }

        &__social {
            margin-left: 39px;
            margin-top: -3px;
        }

        &__social-item-facebook {
            margin-left: 7.5px !important;
        }


        &__item img {
            width: 27px;
            height: 26px;
        }

        &__social-item+&__social-item {
            margin-left: 12.1px;
        }


        &__item+&__item {
            margin-left: 15.5px;
        }

        // &__item-facebook{
        //     margin-left: 11.5px!important;
        // }

        &__text {
            width: 220px;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 19px;
            margin-top: 13px;
            margin-left: 25px;
        }

        &__social-title {
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 12px;
            margin-left: 25px;
        }
    }

    .footer__social_img1,
    .footer__social_img2,
    .footer__social_img3,
    .footer__social_img4,
    .footer__social_img5,
    .footer__social_img6 {
        width: 28px;
        transform: translateX(-12px);
    }

    .footer__inner-rightside {
        width: 639px;
    }

    .footer__rightside {

        &-title {
            font-size: 17px;
            line-height: 16px;
            color: $color-white;
            margin-bottom: 25px;
        }

    }

    .requisites {
        width: 234px;
        margin-top: -31px;
        margin-left: 40px;
        font-size: 12px;
        line-height: 13px;

    }


    .contacts {
        width: 179px;
        margin-top: -28px;
        transform: translateX(-78px);
    }

    .contact-info {
        padding-top: 8px;
        margin-bottom: 7px;
    }

    .phone-number {
        // margin-left: 4px;
        margin-top: -11px;
        font-size: 12px;
        line-height: 15px;
        transform: translateX(-10px);
    }

    .footer {
        &__rightside-title {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 25px;
            margin-right: 141px;
            transform: translateX(-80px);
        }

        &__rightside-list {
            width: 256px;
            margin-top: -12px;
            transform: translateX(-80px);
        }

        &__rightside-link {
            margin-top: 10px;

            font-size: 12px;
        }

        &__rightside-item {
            font-size: 11px;
            line-height: 16px;
            margin-top: -5px;
        }

        &-phone {
            margin-top: -6px;
            margin-left: -1px;
        }

        &-geo {
            transform: translateY(7px);
        }
    }

    .info {
        margin-left: 25px;
        margin-top: -29px;
    }
}


@media (max-width: 768px) {


    .footer-rightside {
        width: 100px;
    }



    .footer {

        &__inner {
            transform: translateY(-30px);
        }

        &:after {
            content: '';
            width: 103%;
            height: 10%;
            background-image: url("/assets/main/beforefooter.svg");
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 0px;
            top: calc(76% - 17.6rem);
        }

        &__inner-rightside {

            margin-top: 17px;
            transform: translateX(-253px);
        }

        &__inner-leftside {
            margin-top: 0px;
            transform: translateX(25px);
        }

        &__rightside-item {
            width: 256px;

            font-size: 12px;
        }
    }

    .footer {

        &__logo img {
            margin-top: -20px;
            width: 186px;
            height: 68px;
            margin-left: 15px;
        }

        &__text {
            width: 220px;
            font-size: 12px;
            font-weight: $fw-medium;
            line-height: 16px;
            margin-bottom: 19px;
            margin-left: -11px;
            margin-top: 6px;
        }

        &__social-title {
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 13px;
            margin-left: -10px;
        }

        &__social {
            margin-left: 5px;
        }

        &__social-item-facebook {
            margin-left: 13.7px !important;
        }

        &__btn {
            display: block;
            font-size: 16px;
            font-family: $ff-rubik;
            font-weight: $fw-semiBold;
            line-height: 16px;
            padding-top: 14px;
            padding-bottom: 14px;
            width: 221px;
            border: 1px solid #BAB2B2;
            border-radius: 5px;
            color: $color-white;
            text-align: center;
            text-decoration: none;
            margin-top: 9px;
            transform: translateX(89px);

        }
    }

    .requisites {
        display: none;
    }

    .info {
        display: none;
    }


    .footer__rightside {
        display: block;

        &__list {
            font-size: 12px;
            font-weight: $fw-medium;

        }

        &-list {

            transform: translateX(90px);
        }

        &-title {
            width: 300px;
            margin-top: -1px;
            transform: translateX(92px);
        }
    }
}



@media (max-width: 480px) {
    .footer__inner {
        display: block;
    }

    .footer {

        transform: translateY(-46px);


        &__logo img {
            width: 373px;
            height: 130px;
            margin-top: -13px;
            transform: translateX(-2px);
        }

        &__text {
            font-size: 18px;
            width: 332px;
            line-height: 24px;
            margin-top: 17px;
            margin-left: 21px;
        }

        &__social-title {
            width: 252px;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 44px;
            margin-left: 21px;
        }

        &__social {
            width: 190px;
            margin-left: 36px;
            margin-bottom: 40px;
        }

        &__btn {
            width: 358px;
            margin-top: 17px;
            transform: translateX(65px);
        }

        &__inner-leftside {
            width: 392px;
        }
    }

    .footer__rightside-title {
        font-size: 18px;
        margin-top: 12px;
        margin-left: -21px;
    }

    .footer__rightside-item {
        width: 350px;
        font-size: 16px;
        margin-left: -23px;
        margin-top: 5px;
    }

    .footer-phone {
        margin-top: -19px;
        margin-left: -1px;
        padding-right: 2px;
    }

    .phone-number {
        font-size: 16px;
        margin-left: 5px;
        line-height: 19px;
        margin-top: -17px;
    }

    .footer__rightside-link {
        font-size: 16px;
    }

    .footer::after {
        content: '';
        width: 98%;
        height: 10%;
        background-image: url("/assets/main/beforefooter.svg");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 1px;
        top: calc(38% - 17.4rem);
        z-index: -1;
    }

    .contacts {
        transform: translateX(233px);
    }
}