@import "./vars";


.blc-entity {
    margin-bottom: 40px;
    margin-left: -2px;
    .blc-entity-wrapper {
        .blc-main-title {
            @include title;
            margin-bottom: 38px;
            margin-top: 14px;
        }
            .blc-sub-title {
                @include litletext;
                width: 1240px;
                line-height: 28px;
                margin-left: 2px;

            }
        }
    }


    // blc-programs-toggle - SECTION
.blc-programs-toggle {
    width: 1440px;
    height: 699px;
    background-color: $color-blue;
    padding: 36px 0 63px;
    margin: 0 auto;

    &__inner {
        margin-left: -45px;
        &__title {
            @include texts;
            font-weight: $fw-bold;
            margin-bottom: 29px;
            margin-left: 25px;
            letter-spacing: -1.1px;
        }

        &__all-accordions {
            width: 1240px;
            height: 126px;

            &__accordion {
                background-color: $color-white;
                border-radius: 15px;
                box-shadow: 0px 4px 4px $color-box;
                margin-bottom: 26px;


                &__header {
                    padding: 19.8px 24px;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    position: relative;
                    cursor: pointer;

                    font-family: Inter, sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    font-style: normal;

                    color: $color-black;

                    &::after {
                        content: "˃";
                        transition: 0.3s ease-in-out;
                        font-weight: 400;
                    }
                }

                .active {
                    &::after {
                        transform: rotate(90deg);
                    }
                }

                &__body {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-in-out;

                    &__description {
                        font-family: Inter, sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        font-style: normal;
                        line-height: 140%;
                        color: rgba(60, 60, 67, 0.85);
                        padding: 0 24px 18px;
                        letter-spacing: 1.1px;
                    }
                }
            }

            &__accordion+&__accordion {
                margin-top: 20px;
            }
        }
    }
}

.blc-more-info {
    margin-top: 40px;
    line-height: 28px;
    margin-bottom: 578px;
    .blc-info-title {
       .blc-info-subtitleone {
        @include litletext;
        margin-bottom: 28px;
       } 
       .blc-info-subtitletwo {
        @include litletext;
        font-weight: $fw-bold;
        letter-spacing: -0.3px;
       }
       .blc-info-subtitletree {
        @include litletext;
       }
    }
}

.blc-bg {
    margin: 0 auto;

    .blc-bg-img {
        .bg-baloonone{
            position: absolute;
            left: 84.6%;
            right: -6.2%;
            top: 1181px;
            z-index: -1;
           }
           
           .bg-legal{
            position: absolute;
            width: 610px;
            height: 427px;
            left: 370px;
            top: 1373px;
           }
           
           .bg-baloon{
            position: absolute;
            left: 4.3%;
            right: 80.12%;
            top: 1473px;
            z-index: -1;
           }
           
           .bg-finger {
            position: absolute;
            left: 84.8%;
            right: -1.36%;
            top: 1576px;
            z-index: -1;
           }
    }

    
}


@media (max-width: 1000px) {
    .blc-entity {
        width: 970px;
        height: 155px;
        margin-bottom: 40px;
        margin-left: 0px;
        margin-top: -16px;
        .blc-entity-wrapper {
            .blc-main-title {
                @include title;
                margin-bottom: 30px;
                margin-top: 14px;
            }
                .blc-sub-title {
                    @include litletext;
                    font-size: 20px;
                    width: 970px;
                    line-height: 30px;
                    margin-left: 0px;
                    letter-spacing: 0.1px;
    
                }
            }
        }
    
    
        // blc-programs-toggle - SECTION
    .blc-programs-toggle {
        width: 1000px;
        height: 567px;
        background-color: $color-blue;
        padding: 36px 0 63px;
        margin: 0 auto;
    
        &__inner {
            margin-left: 0px;
            &__title {
                @include texts;
                font-weight: $fw-bold;
                font-size: 30px;
                margin-bottom: 21px;
                margin-left: 0px;
                letter-spacing: -1.4px;
                margin-top: -14px;            
            }
    
            &__all-accordions {
                width: 970px;
                height: 462px;
    
                &__accordion {
                    background-color: $color-white;
                    border-radius: 15px;
                    box-shadow: 0px 4px 4px $color-box;
                    margin-bottom: 26px;
    
    
                    &__header {
                        padding: 19.8px 24px;
    
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        position: relative;
                        cursor: pointer;
    
                        font-family: Inter, sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        font-style: normal;
    
                        color: $color-black;
    
                        &::after {
                            content: "˃";
                            transition: 0.3s ease-in-out;
                            font-weight: 400;
                        }
                    }
    
                    .active {
                        &::after {
                            transform: rotate(90deg);
                        }
                    }
    
                    &__body {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.3s ease-in-out;
    
                        &__description {
                            font-family: Inter, sans-serif;
                            font-size: 16px;
                            font-weight: 400;
                            font-style: normal;
                            line-height: 140%;
                            color: rgba(60, 60, 67, 0.85);
                            padding: 0 24px 18px;
                            letter-spacing: 1.1px;
                        }
                    }
                }
    
                &__accordion+&__accordion {
                    margin-top: 20px;
                }
            }
        }
    }
    
    .blc-more-info {
        width: 996px;
        height: 571px;
        margin-top: 33px;
        line-height: 28px;
        margin-bottom: 78px;
        .blc-info-title {
           .blc-info-subtitleone {
            @include litletext;
            margin-bottom: 28px;
           } 
           .blc-info-subtitletwo {
            @include litletext;
            font-weight: $fw-bold;
            letter-spacing: -0.3px;
           }
           .blc-info-subtitletree {
            @include litletext;
           }
        }
    }
    
    .blc-bg {
        width: 970px;
        margin-bottom: -11px;
    
        .blc-bg-img {
            .bg-baloonone{
                position: absolute;
                width: 107.44px;
                height: 209.93px;
                left: 784px;
                right: 0.16%;
                top: 1146px;
                z-index: -1;
               }
               
               .bg-legal{
                position: absolute;
                width: 500px;
                height: 350px;
                left: 250px;
                top: 1222px;
               }
               
               .bg-baloon{
                position: absolute;
               width: 115px;
               height: 221px;
                left: 103px;
                right: 10.3%;
                top: 1329px;
                z-index: -1;
               }
               
               .bg-finger {
                position: absolute;
                width: 92px;
                height: 93px;
                left: 786px;
                right: 4.53%;
                top: 1393px;
                z-index: -1;
               }
        }
    
        
    }
}


@media (max-width: 768px) {
    .blc-entity {
        width: 732px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-top: -16px;
        .blc-entity-wrapper {
            .blc-main-title {
                @include title;
                font-size: 36px;
                margin-bottom: 30px;
                margin-top: 14px;
            }
                .blc-sub-title {
                    @include litletext;
                    font-size: 18px;
                    width: 742px;
                    height: 79px;
                    line-height: 30px;
                    margin-left: 3px;
                    letter-spacing: 0.1px;
                    margin-top: -10px;
                    text-align: justify;
    
                }
            }
        }
    
    
        // blc-programs-toggle - SECTION
    .blc-programs-toggle {
        width: 768px;
        height: 549px;
        padding: 36px 0 63px;
        margin: 0 auto;
    
        &__inner {
            margin-left: 0px;
            &__title {
                @include texts;
                font-weight: $fw-bold;
                font-size: 24px;
                margin-bottom: 23px;
                margin-left: 2px;
                letter-spacing: -1.1px;
                margin-top: -22px;           
            }
    
            &__all-accordions {
                width: 732px;
                height: 151px;
                margin-left: 3px;
    
                &__accordion {
                    background-color: $color-white;
                    border-radius: 15px;
                    box-shadow: 0px 4px 4px $color-box;
                    margin-bottom: 26px;
    
    
                    &__header {
                        padding: 19.8px 24px;
    
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        position: relative;
                        cursor: pointer;
    
                        font-family: Inter, sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        font-style: normal;
    
                        color: $color-black;
    
                        &::after {
                            content: "˃";
                            transition: 0.3s ease-in-out;
                            font-weight: 400;
                        }
                    }
    
                    .active {
                        &::after {
                            transform: rotate(90deg);
                        }
                    }
    
                    &__body {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.3s ease-in-out;
    
                        &__description {
                            font-family: Inter, sans-serif;
                            font-size: 18px;
                            font-weight: 400;
                            font-style: normal;
                            line-height: 140%;
                            color: rgba(60, 60, 67, 0.85);
                            padding: 0 24px 18px;
                            letter-spacing: 0px;

                        }
                    }
                }
    
                &__accordion+&__accordion {
                    margin-top: 20px;
                }
            }
        }
    }
    
    .blc-more-info {
        width: 732px;
        height: 249px;
        font-size: 18px;
        margin-top: 29px;
        line-height: 28px;
        margin-bottom: 78px;
        font-size: 18px;
        margin-left: 3px;
        .blc-info-title {
           .blc-info-subtitleone {
            @include litletext;
            margin-bottom: 28px;
           } 
           .blc-info-subtitletwo {
            @include litletext;
            font-weight: $fw-bold;
            letter-spacing: -0.3px;
           }
           .blc-info-subtitletree {
            @include litletext;
           }
        }
    }
    
    .blc-bg {
        width: 768px;
        height: 549px;
        margin-bottom: -42px;
    
        .blc-bg-img {
            .bg-baloonone{
                display: none;
               }
               
               .bg-legal{
                width: 732px;
                height: 492px;
                left: 18px;
                top: 1207px;
               }
               
               .bg-baloon{
                display: none;
               }
               
               .bg-finger {
                display: none;
               }
        }
    
        
    }
}


@media (max-width: 480px) {
    .blc-entity {
        width: 450px;
        height: 167px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-top: 20px;
        .blc-entity-wrapper {
            .blc-main-title {
                font-size: 26px;
                margin-bottom: 24px;
                margin-top: -5px;
            }
                .blc-sub-title {
                    @include litletext;
                    font-size: 16px;
                    line-height: 24px;
                    width: 450px;
                    height: 117px;
                    margin-left: 0px;
                    letter-spacing: 0.1px;
                    margin-top: -10px;
                    text-align: justify;
    
                }
            }
        }
    
    
        // blc-programs-toggle - SECTION
    .blc-programs-toggle {
        width: 480px;
        height: 580px;
        padding: 36px 0 63px;
        margin: 0 auto;
    
        &__inner {
            margin-left: 0px;
            &__title {
                @include texts;
                font-weight: $fw-bold;
                font-size: 18px;
                margin-bottom: 23px;
                margin-left: 0px;
                letter-spacing: 0px;
                margin-top: -17px;          
            }
    
            &__all-accordions {
                width: 450px;
                height: 193px;
                margin-left: 0px;
    
                &__accordion {
                    background-color: $color-white;
                    border-radius: 15px;
                    box-shadow: 0px 4px 4px $color-box;
                    margin-bottom: 26px;
    
    
                    &__header {
                        padding: 19.8px 24px;
    
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        position: relative;
                        cursor: pointer;
    
                        font-family: Inter, sans-serif;
                        font-size: 18px;
                        font-weight: 700;
                        font-style: normal;
                        letter-spacing: 0.2px;
                        color: $color-black;
    
                        &::after {
                            content: "˃";
                            transition: 0.3s ease-in-out;
                            font-weight: 400;
                        }
                    }
    
                    .active {
                        &::after {
                            transform: rotate(90deg);
                        }
                    }
    
                    &__body {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.3s ease-in-out;
    
                        &__description {
                            font-family: Inter, sans-serif;
                            font-weight: 400;
                            font-style: normal;
                            font-size: 16px;
                            line-height: 120%;
                            color: rgba(60, 60, 67, 0.85);
                            padding: 0 24px 18px;
                            letter-spacing: -0.1px;
                            text-align:justify;

                        }
                    }
                }
    
                &__accordion+&__accordion {
                    margin-top: 20px;
                }
            }
        }
    }
    
    .blc-more-info {
        width: 450px;
        font-size: 16px;
        line-height: 24px;
        margin-top: 19px;
        margin-bottom: 78px;
        font-size: 18px;
        margin-left: 0px;
        .blc-info-title {
           .blc-info-subtitleone {
            @include litletext;
            line-height: 24px;
            font-size: 16px;
            margin-bottom: 28px;
            letter-spacing: -0.5px;
           } 
           .blc-info-subtitletwo {
            @include litletext;
            font-size: 16px;
            font-weight: $fw-bold;
            letter-spacing: -0.2px;
                margin-top: -4px;
           }
           .blc-info-subtitletree {
            @include litletext;
            letter-spacing: -1px;
           }
        }
    }
    
    .blc-bg {
        width: 450px;
        margin-bottom: -270px;
    
        .blc-bg-img {
            .bg-baloonone{
                display: none;
               }
               
               .bg-legal{
                width: 450px;
                height: 307px;
                left: 18px;
                top: 1137px;
               }
               
               .bg-baloon{
                display: none;
               }
               
               .bg-finger {
                display: none;
               }
        }
    
        
    }
}

   
