@import "./vars";
@import "./header";
@import "./sidebar";
@import "./call-to-action";

.documents {
  margin-bottom: 90px;
}

.blc_breadscrumbs {
  margin-top: 24px;
  margin-bottom: 40px;
  font-family: $ff-rubik;
}

.breadscrumb_link {
  font-family: $ff-rubik;
  font-style: normal;
  font-weight: $fw-regular;
  font-size: 14px;
  line-height: 17px;
  color: #616161;
  text-decoration: none;
}

.breadscrumb_link+.breadscrumb_link {
  margin-left: 5px;
}

.breadscrumb_link:last-child {
  font-family: $ff-rubik;
  font-style: normal;
  font-weight: $fw-medium;
  font-size: 14px;
  line-height: 17px;
  color: #616161;
}

.official-docs_title {
  @include title;
  margin-bottom: 40px;
}

.blc_documents {
  display: flex;
}

.documents_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.document-cards_item {
  margin-top: 32px;
  margin-right: 35px;
}

.document-cards_item:nth-child(3n) {
  margin-right: 20px;
}

.doc-link {
  text-decoration: none;
}

.docs-card-img {
  width: 250px;
  height: 263px;
}

.docs-card_title {
  width: 250;
  height: 64px;
  background-color: $color-coral;
}

.doc-name {
  font-family: $ff-rubik;
  font-style: normal;
  font-weight: $fw-medium;
  font-size: 20px;
  line-height: 41px;
  padding-top: 12px;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;
}

// Sidebar-Menu
// .sidebar {
//   margin-left: 20px;
//   width: 400px;
//   height: 282px;
//   background: $color-lilac;
//   border-radius: 15px;
//   margin-top: 32px;
// }

// .sidebar_menu {
//   max-width: 303px;
//   margin-left: 48px;
//   margin-top: 57px;
// }

// .sidebar_menu_link {
// font-style: normal;
// font-weight: $fw-bold;
// font-size: 18px;
// line-height: 21px;
// text-transform: uppercase;
// color: #000000;
// text-decoration: none;
// }

// .sidebar_menu_item {
//   margin-bottom: 22px;
// }

// .call-to-action {
//   margin: 90px 0 119px;

//   &__inner {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     background-color: $color__blue;
//     padding: 70px 40px;
//     border-radius: 15px;

//     &__text,
//     &__money,
//     &__other-money,
//     &__btn {
//       font-family: $ff-rubik;
//       font-style: normal;
//       font-weight: $fw-regular;
//       font-size: 30px;
//       line-height: 36px;
//       color: #000000;
//       font-style: normal;
//     }

//     &__money {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       width: 35%;
//       font-size: 36px;
//       line-height: 43px;
//     }
//     &__money__item {
//       font-family: $ff-rubik;
//       text-decoration: none;
//       font-style: normal;
//       font-weight: $fw-regular;
//       font-size: 36px;
//       line-height: 43px;
//       color: #000000;
//     }
//     &__other-money {
//       font-size: 24px;
//       line-height: 28px;
//       color: rgba(97, 97, 97, 0.59);
//     }

//     &__btn {
//       font-weight: $fw-medium;
//       font-size: 36px;
//       line-height: 43px;
//       color: #ffffff;
//       background: #FF7272;;
//       border-radius: 5px;
//       text-decoration: none;
//       padding: 18px 22px;
//       font-style: normal;
//     }
//   }
// }

.bg-img {
  position: absolute;
  width: 171px;
  height: 335px;
  background-image: url(../assets/official-docs/docs_baloon4.svg);
  background-size: 171px 330px;
  margin-left: -151px;
  margin-top: 61px;
}

.bg-img1 {
  position: absolute;
  width: 120px;
  height: 131.47px;
  background-image: url(../assets/official-docs/docs_finger2.svg);
  margin-top: -137px;
  margin-left: 928px;
  z-index: -1;
}

/* 1000px*/


@media (max-width: 999px) {

  .blc_breadscrumbs {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: $ff-rubik;
  }

  .breadscrumb_link {
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: $fw-regular;
    font-size: 14px;
    line-height: 17px;
    color: #616161;
    text-decoration: none;
  }

  .breadscrumb_link+.breadscrumb_link {
    margin-left: 5px;
  }

  .breadscrumb_link:last-child {
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: $fw-medium;
    font-size: 14px;
    line-height: 17px;
    color: #616161;
  }

  .official-docs_title {
    margin-bottom: 30px;
  }

  .blc_documents {
    display: flex;
    max-width: 705px;
  }

  .documents_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .document-cards_item {
    margin-top: 30px;
    margin-right: 30px;
    width: 215px;
  }

  .document-cards_item:nth-child(3n) {
    margin-right: 30px;
  }

  .docs-card-img {
    width: 215px;
    height: 217px;
  }

  .docs-card_title {
    width: 215px;
  }

  // .sidebar {
  //   margin-left: 34px;
  //   width: 231px;
  //   height: 229px;
  //   background: #D5C8FC;
  //   border-radius: 15px;
  //   margin-top: 32px;
  // }

  // .sidebar_menu {
  //   width: 170px;
  //   margin-top: 37px;
  //   margin-left: 33px;
  // }

  // .sidebar_menu_link {
  //   font-family: $ff-rubik;
  //   font-style: normal;
  //   font-weight: $fw-semiBold;
  //   font-size: 16px;
  //   line-height: 19px;
  //   text-transform: uppercase;
  //   color: #000000;    
  //   text-decoration: none;
  // }

  // .sidebar_menu_item {
  //   margin-bottom: 20px;
  // }


  .bg-img {
    position: absolute;
    width: 135px;
    height: 42px;
    background-image: url(../assets/official-docs/arrow_docs_1000px.svg);
    background-size: 134px 42px;
    margin-left: 615px;
    margin-top: -456px;
  }

  .bg-img1 {
    position: absolute;
    width: 61px;
    height: 66px;
    background-image: url(../assets/official-docs/finger_docs_1000px.png);
    margin-top: -78px;
    margin-left: 800px;
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .blc_breadscrumbs {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: $ff-rubik;
  }

  .official-docs_title {
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: $fw-semiBold;
    font-size: 36px;
    color: #000000;
    line-height: 40px;
  }

  .documents_cards {
    width: 732px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .document-cards_item {
    margin-top: 20px;
    margin-right: 15px;
    width: 234px;
  }

  .document-cards_item:nth-child(3n) {
    margin-right: 0px;
  }

  .docs-card-img {
    width: 234px;
    height: 217px;
  }

  .docs-card_title {
    width: 234px;
  }

  // .sidebar {
  //   display: none;
  // }

  .bg-img {
    display: none;
  }

  .bg-img1 {
    position: absolute;
    width: 75px;
    height: 71px;
    background-image: url(../assets/official-docs/finger1_docs_768.svg);
    margin-top: -471px;
    margin-left: 589px;
  }
}

@media (max-width: 480px) {
  .blc_breadscrumbs {
    display: none;
  }

  .official-docs_title {
    font-family: $ff-rubik;
    font-style: normal;
    font-weight: $fw-semiBold;
    font-size: 28px;
    line-height: 30px;
    color: #000000;
    margin-top: 20px;
  }

  .blc_documents {
    display: flex;
    font-family: $ff-rubik;
    font-weight: $fw-medium;
    width: 450px;
  }

  .documents_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .document-cards_item {
    margin-top: 30px;
    margin-right: 15px;
    width: 217.5px;
  }

  .document-cards_item:first-child {
    margin-top: 20px;
  }

  .document-cards_item:nth-child(2) {
    margin-top: 20px;
  }

  .docs-card-img {
    width: 217.5px;
    height: 217px;
  }

  .docs-card_title {
    width: 217.5px;
  }

  // .sidebar {
  //   display: none;
  // }

  .bg-img {
    display: none;
  }

  .bg-img1 {
    display: none;
  }
}