@import "./vars";

body {
   font-family: $ff-rubik;
}

.breadcrumbs {
    padding: 24px 0;
      
      &__item{
         font-family: $ff-rubik;
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 17px;
         color: $color-dark-grey;
       
      }
      
      &__item-link{
        text-decoration: none;
        cursor: pointer;
      }

      &__item-currant{
         font-weight: $fw-medium;
      }    
}


.title{
  @include title;  
  margin-bottom: 40px;
}

.mission-wrapper{
  display: flex;
  gap:20px;
  margin-bottom: 123px;
}

.blc {
  max-width: 825px;

  &__descr {
    max-width: 822px;
    @include texts;
    line-height: 34px;
    text-align: justify;
   
 }

 &__descr-first-prg{
   padding-bottom: 35px;
 }
   
}
.blc-mission {
       margin-bottom: 95px;

      &__img{
        width: 820px;
        height: 497px;
        margin-bottom: 71px;
      }

      

      &__list{
        list-style: none;
        padding-left: 0;
      }

}

.mission-list__item{
  padding-left: 5px;
}

.blc-main-tasks{
    &__title {
     font-weight: $fw-medium;
     margin-bottom: 58px;
    }
}






.green-bg{
 width: 426px;
 position: absolute;
 top: 95%;
 left: 60%;
 z-index: -1;
}


.arrow-bg{
  width: 181px;
  position: absolute;
  top: 150%;
  left:46%; 
  z-index: -1;
}

.baloon-bg{
  width: 171px;
   position: absolute;
   top:172%;
   left:70.5%;
   z-index: -1; 
}

.finger-bg{
  width: 125px;
   position: absolute;
   top:17.5%;
   left: 82.5%;
   z-index: -1;
}


.paints-bg{
  width: 180px;
  position: absolute;
  top: 245%;
  left:10%;

 
}



@media (max-width: 1150px) {
   .breadcrumbs{
     padding: 20px 0 40px 0;
   }
    
   .title{
    margin-bottom: 28px;

   }

   .mission-wrapper{
    gap:30px;
    margin-bottom: 60px;
  }

  .main-bg{
    background-color: rgba(22, 21, 21, 0.81);
    z-index: 10;
}


  .blc{
    max-width: 709px;

    &__descr{
      font-size: 20px;
      line-height: 30px;
    }

    &__descr-first-prg{
      padding-bottom: unset;
    }
  }

   .blc-mission {
    margin-bottom: 29px;

   &__img{
     position: relative;
     width: 709px;
     height: 430px;
     margin-bottom: 25px;
     z-index: -1;
   }
    
  }

  .blc-main-tasks{
    &__title{
      font-size: 30px;
      line-height: 36px;
    }
  }



  
  .green-bg{
    width: 250px;
    position: absolute;
    top: 77%;
    left: 72%;
    z-index: -1;
   }

   .finger-bg{
    width: 91.36px;
     position: absolute;
     top:20%;
     left: 60%;
     z-index: -1;
  }

  .arrow-bg{
    width: 181px;
    position: absolute;
    top: 120%;
    left:65%; 
    z-index: -1;
  }

  .baloon-bg{
    width: 152px;
    height: 276px;
     position: absolute;
     top:142%;
     left:80%; 
     z-index: -1;
  }

  .paints-bg{
    display: none;
  }
}





@media(max-width:999px){

   .breadcrumbs {
     padding: 20px 0 30px 0;
   }
 
   .mission-wrapper{
     gap:0;
     margin-bottom: 56px;
   }
   .blc{
     max-width: 732px;
 
     &__descr-first-prg{
       padding-bottom: 6px;
     }
   }
 
 
   .title{
     font-size: 36px;
     margin-bottom: 20px;
   }
 
   .blc-mission {
     margin-bottom: 23px;
 
    &__img{
      width: 732px;
      height: 456px;
      margin-bottom: 7px;
      z-index: -1;
    }
 
 }
 
 
   .blc-main-tasks{
      &__title{
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 16px;
      }
   }
 
   
   .green-bg{
      width: 218px;
      height: 197px;
      position: absolute;
      top: 95%;
      left: 70%;
      z-index: -1;
     }
  
     .finger-bg{
      width: 91.36px;
       position: absolute;
       top:20%;
       left: 60%;
       z-index: -1;
    }
  
    .arrow-bg{
     display: none;
    }
  
    .baloon-bg{
       width: 110px;
       height: 157px;
       position: absolute;
       top:142%;
       left:80%; 
       z-index: -1;
    }

 }
 
 
@media (max-width: 767px){
 
   
  
  .breadcrumbs {
     display:none;
   }
 
   .mission-wrapper{
      max-width: 450px;
     margin-bottom: 55px;
   }
   
   .page-title{
     padding-top: 40px;
   }
 
   .title{
     font-size: 26px;
     line-height: 41px;
     margin-bottom: 14px;
     padding-top: 12px;
    }
 
    .blc{
    
 
     &__descr{
       font-size: 16px;
       line-height: 22px;
     }
     &__descr-first-prg{
       padding-bottom: 0px;
     }
    
   }
 
 
 
    .blc-mission {
       margin-bottom: 17px;
 
      &__img{
        width: 450px;
        height: 291px;
        margin-bottom: 9px;
    }
 
   }
 
 
   .blc-main-tasks{
     &__title{
       margin-bottom: 9px;
     }
  }
 
  
  
  .finger-bg {
    display: none;
  }
 
  .green-bg{
   width: 91px;
   height: 66px;
   position: absolute;
   top: 85%;
   left: 70%;
  }

  .baloon-bg{
     top: 125%;
     left: 70%;
  }
 
 }
 