@import "./vars";

.blc_individual {
    margin-top: 14px;

    &_inner {
        padding: 154px 105px 199px 105px;
        background: #CFFFFD;
        border-radius: 15px;
        position: relative;
        z-index: 1;

        .info {
            color: $color-black;
            font-family: $ff-rubik;
            max-width: 468px;

            &_title {
                font-weight: $fw-bold;
                font-size: 40px;
            }

            &_text {
                margin-top: 41px;
                font-weight: 400;
                font-size: 18px;
                line-height: 138.5%;
                letter-spacing: 0.08em;
                margin-bottom: 94px;
                z-index: 1;
            }

            @media (max-width: 1200px) {
                &_title {
                    font-weight: 600;
                    font-size: 30px;
                }

                &_text {
                    letter-spacing: 0em;
                    margin-top: 21px;
                    line-height: 30px;
                    font-size: 20px;
                    margin-bottom: 26px;
                }
            }

            @media (max-width: 915px) {
                &_title {
                    font-size: 28px;
                }

                &_text {
                    margin-top: 24px;
                    font-size: 18px;
                    margin-bottom: 27px;
                }
            }

            @media (max-width: 670px) {
                &_title {
                    font-size: 24px;
                }

                &_text {
                    margin-top: 12px;
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 25px;
                }
            }

            @media (max-width: 450px) {
                &_title {
                    font-size: 22px;
                }

                &_text {
                    margin-top: 12px;
                    font-size: 11px;
                    line-height: 18px;
                    margin-bottom: 25px;
                }
            }

            &_btn {
                text-decoration: none;
                background: #00AFA9;
                border-radius: 5px;
                padding: 10px 47px;
                letter-spacing: 0.14em;
                font-family: $ff-raleway;
                font-weight: 800;
                font-size: 16px;
                color: $color-white;
                transition: 0.4 ease;

                &:hover {
                    background: #088E8A;
                }
            }

            @media (max-width: 915px) {
                &_btn {
                    padding: 14px 35px;
                }
            }

            @media (max-width: 670px) {
                &_btn {
                    padding: 12px 33px;
                    font-weight: 700;
                    font-size: 14px;
                }
            }
        }

        &_img {
            position: absolute;
            top: 64px;
            right: 99px;
            z-index: -1;
        }

        @media (max-width: 1276px) {
            .info {
                max-width: 413px;
            }

            &_img {
                width: 447.25px;
                height: 404.67px;
                top: 50px;
                right: 55px;
            }
        }

        @media (max-width: 994px) {
            .info {
                max-width: 359px;
            }

            &_img {
                width: 330.91px;
                height: 302.94px;
                top: 37px;
                right: 40px;
            }
        }

        @media (max-width: 748px) {

            &_img {
                width: 198.67px;
                height: 183.56px;
                top: 23px;
                right: 12px;
            }
        }

        @media (max-width: 473px) {
            &_img {
                width: 175.67px;
                height: 160.56px;
                top: 23px;
                right: 12px;
            }
        }

        @media (max-width: 437px) {
            &_img {
                width: 131.67px;
                height: 111.56px;
                top: 47px;
                right: 8px;
            }
        }

        @media (max-width: 670px) {
            .info {
                max-width: 237px;
            }
        }

        @media (max-width: 450px) {
            .info {
                max-width: 217px;
            }
        }
    }

    @media (max-width: 1276px) {
        &_inner {
            padding: 129px 101px 145px 80px;
        }
    }

    @media (max-width: 994px) {
        &_inner {
            padding: 82px 98px 64px 68px;
        }
    }

    @media (max-width: 748px) {
        &_inner {
            padding: 27px 98px 39px 25px
        }
    }
    @media (max-width: 400px) {
        &_inner {
            padding: 27px 98px 39px 19px
        }
    }
}

@media (max-width: 1276px) {
    .blc_individual {
        margin-top: 7px;
    }
}

@media (max-width: 994px) {
    .blc_individual {
        margin-top: 67px;
    }
}

@media (max-width: 748px) {
    .blc_individual {
        margin-top: 30px;
    }
}

.legal {
    margin-top: 80px;

    &_inner {
        background: #E3ECFF;
    }

    &_btn {
        background: #775CA6 !important;
        transition: 0.4 ease;

        &:hover {
            background: #5C428A !important;
        }
    }
}

@media (max-width: 1276px) {
    .legal {
        margin-top: 29px;
    }
}

@media (max-width: 748px) {
    .legal {
        margin-top: 21px;
    }
}


.volunteering {
    margin-top: 80px;

    &_inner {
        background: #FFEFAB;
        z-index: 1;
    }

    &_btn {
        background: #475174 !important;
        transition: 0.4 ease;

        &:hover {
            background: #46558e !important;
        }
    }

    &_img {
        position: absolute;
        top: 130px;
        right: 55px;
        z-index: -1;
    }

    @media (max-width: 1276px) {
        &_img {
            width: 433.86px;
            height: 375.86px;
            top: 104px;
            right: 20px;
        }
    }

    @media (max-width: 994px) {
        &_img {
            width: 327.41px;
            height: 279.99px;
            top: 76px;
            right: 10px;
        }
    }

    @media (max-width: 748px) {
        &_img {
            width: 201.28px;
            height: 169.67px;
            top: 48px;
            right: 7px;
        }
    }

    @media (max-width: 473px) {
        &_img {
            width: 178.28px;
            height: 152.67px;
            top: 42px;
            right: 6px;
        }
    }

    @media (max-width: 437px) {
        &_img {
            width: 125.28px;
            height: 115.67px;
            top: 42px;
            right: 6px;
        }
    }
}

@media (max-width: 1276px) {
    .volunteering {
        margin-top: 29px;
    }
}

@media (max-width: 748px) {
    .volunteering {
        margin-top: 21px;
    }
}
